* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Red Hat Display", sans-serif;
}

html, body {
  margin: 0;
  height: 100%;
  overflow-y: hidden;
}

a:visited, a:link {
  text-decoration: none;
  color: snow;
}

body {
  -ms-overflow-style: none;
  /* for Internet Explorer, Edge */
  scrollbar-width: none;
  /* for Firefox */
  overflow-y: scroll;
}

body::-webkit-scrollbar {
  display: none;
  /* for Chrome, Safari, and Opera */
}

.middle {
  z-index: 1;
  position: relative;
  width: 90%;
  height: 1%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  -moz-column-gap: 30px;
       column-gap: 30px;
  row-gap: 30px;
  margin-top: 11vh;
}

.card {
  width: 500px;
  margin: 0% 0% 0% 0%;
  position: relative;
}

.info {
  padding-bottom: 30px;
  width: 1000px;
  margin: 0% 0% 0% 0%;
  position: relative;
}

.info p {
  text-align: left;
  margin: 10px 30px;
}

.info table {
  text-align: left;
  margin: 20px auto;
  border-collapse: collapse;
  min-width: 50%;
}

th {
  padding: 0 10px;
}

table, th, td {
  border: 1px solid snow;
}

.info h3 {
  font-style: italic;
}

.black {
  background-color: #1C1C1C;
  opacity: 0.8;
  width: 100%;
  height: 100%;
  border: #1C1C1C;
  border-radius: 2px;
  border-style: none;
}

.info {
  background-color: #1c1c1cd7;
  top: 0;
  right: 0;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 10px 10px;
  padding-bottom: 20px;
  width: 100%;
  color: snow;
  font-size: 22px;
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: #1C1C1C;
  position: relative;
  z-index: 2;
  opacity: 0.9;
  margin-bottom: 3%;
  position: fixed;
  top: 0;
  width: 100%;
}

.logo {
  color: snow;
  text-transform: uppercase;
  font-size: 20px;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 40%;
}

.nav-links li {
  list-style: none;
  padding-left: 10px;
}

.nav-links a {
  color: snow;
  text-decoration: none;
  letter-spacing: 1px;
  font-size: 16px;
  vertical-align: 60%;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 22px;
  height: 3px;
  background-color: snow;
  margin: 5px;
}

@media screen and (max-width: 800px) {
  html, body {
    overflow-y: visible;
  }

  .middle {
    width: 100%;
    flex-basis: 1;
  }

  body {
    overflow-x: hidden;
  }

  .nav-links {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: #1C1C1C;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s ease;
    padding-bottom: 50%;
    padding-top: 5%;
    opacity: 0;
  }

  .nav-links li {
    opacity: 1;
  }

  .burger {
    display: block;
  }
}
.nav-active {
  transform: translateX(0%);
  opacity: 1;
  padding-top: 30%;
}

html {
  background: #1e1f22;
}

body, head {
  display: block;
  font-size: 52px;
  color: transparent;
}

head::before, head::after,
body::before, body::after {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 3em;
  height: 3em;
  content: ".";
  mix-blend-mode: screen;
  -webkit-animation: 44s -27s move infinite ease-in-out alternate;
          animation: 44s -27s move infinite ease-in-out alternate;
}

body::before {
  text-shadow: 1.0234575375em 0.1403865313em 7px rgba(165, 0, 255, 0.9), 1.4011527263em 1.9351792351em 7px rgba(0, 255, 95, 0.9), 1.0447493177em 0.5288938377em 7px rgba(0, 255, 59, 0.9), -0.3526358542em -0.3958339608em 7px rgba(0, 255, 48, 0.9), 2.4717161622em 2.1032864437em 7px rgba(0, 109, 255, 0.9), 1.0576137641em 2.1246705401em 7px rgba(255, 0, 1, 0.9), 1.691201188em -0.1434810076em 7px rgba(255, 140, 0, 0.9), 0.3490454872em -0.3509624027em 7px rgba(255, 190, 0, 0.9), 2.2341902174em -0.3372614447em 7px rgba(255, 195, 0, 0.9), 2.0154077948em 0.7607167779em 7px rgba(0, 123, 255, 0.9), 1.4623053153em 0.8235854827em 7px rgba(255, 192, 0, 0.9), -0.4067176554em 0.4922579947em 7px rgba(141, 255, 0, 0.9), -0.1816523863em 1.2931782304em 7px rgba(0, 251, 255, 0.9), -0.2431598728em 0.840852345em 7px rgba(0, 78, 255, 0.9), -0.3580791122em 2.1058786308em 7px rgba(0, 157, 255, 0.9), 2.3541041878em 0.6675784593em 7px rgba(0, 255, 47, 0.9), 2.4481542478em 1.614019897em 7px rgba(193, 0, 255, 0.9), 0.0529632517em 0.7691814437em 7px rgba(117, 255, 0, 0.9), 0.5504208042em 0.3319033514em 7px rgba(0, 255, 124, 0.9), -0.29292408em 1.9049976039em 7px rgba(0, 255, 193, 0.9), 0.620513166em 0.0539931135em 7px rgba(92, 255, 0, 0.9), 0.0775823686em 0.2636582408em 7px rgba(255, 0, 58, 0.9), 1.0649746173em 0.8906946256em 7px rgba(200, 255, 0, 0.9), 0.7236331139em 1.2249964893em 7px rgba(185, 255, 0, 0.9), 0.290179455em 0.6197304128em 7px rgba(255, 0, 28, 0.9), 0.2066707358em 2.0735513371em 7px rgba(255, 0, 47, 0.9), 0.1532205623em 1.754479669em 7px rgba(255, 0, 30, 0.9), 2.3093581789em 1.0505101322em 7px rgba(16, 255, 0, 0.9), 2.1119923705em 0.9830505664em 7px rgba(0, 161, 255, 0.9), 1.4253526922em 2.2710869721em 7px rgba(100, 255, 0, 0.9), 1.8736868088em -0.0535811222em 7px rgba(0, 233, 255, 0.9), 0.963469332em 1.1244471527em 7px rgba(113, 255, 0, 0.9), 0.2697866694em 1.1007242962em 7px rgba(22, 255, 0, 0.9), 1.2464943994em 0.7544647524em 7px rgba(255, 54, 0, 0.9), -0.3114405469em 0.9718187069em 7px rgba(79, 255, 0, 0.9), 0.2038824692em 0.0090775627em 7px rgba(196, 0, 255, 0.9), 2.0781865958em 1.2443469218em 7px rgba(214, 255, 0, 0.9), -0.0283526588em 1.9132992616em 7px rgba(0, 51, 255, 0.9), -0.387919283em -0.4640334873em 7px rgba(0, 84, 255, 0.9), 1.3745025403em 0.0029886349em 7px rgba(255, 0, 178, 0.9), 1.7095642521em -0.4385833647em 7px rgba(0, 255, 208, 0.9);
  -webkit-animation-duration: 44s;
          animation-duration: 44s;
  -webkit-animation-delay: -27s;
          animation-delay: -27s;
}

body::after {
  text-shadow: 1.8047920301em 1.5998288308em 7px rgba(0, 46, 255, 0.9), -0.1295983592em 1.0350050623em 7px rgba(255, 252, 0, 0.9), 1.8581975875em 2.0513158665em 7px rgba(255, 0, 194, 0.9), 1.812173878em 0.7462824963em 7px rgba(190, 255, 0, 0.9), 0.632248133em 0.4568351567em 7px rgba(20, 255, 0, 0.9), -0.2269879257em 0.6483138157em 7px rgba(114, 0, 255, 0.9), 1.0242165452em 1.088682313em 7px rgba(255, 0, 163, 0.9), 0.8986897754em 0.7495574858em 7px rgba(0, 26, 255, 0.9), 0.1634307938em 0.7602430433em 7px rgba(7, 0, 255, 0.9), 1.3031451763em 1.7220909218em 7px rgba(0, 255, 91, 0.9), 2.496134812em 2.363872326em 7px rgba(0, 255, 228, 0.9), 1.4152968551em 1.4753362321em 7px rgba(255, 0, 59, 0.9), 1.6125921909em 0.0646047998em 7px rgba(0, 252, 255, 0.9), 0.5783610074em 0.1957038303em 7px rgba(9, 0, 255, 0.9), 1.4061988153em 1.0960050316em 7px rgba(255, 123, 0, 0.9), 1.8280190281em 0.1296561715em 7px rgba(0, 52, 255, 0.9), 0.0647697361em 2.2571064754em 7px rgba(0, 63, 255, 0.9), 1.0338544085em 1.9290860633em 7px rgba(143, 255, 0, 0.9), 0.0879522862em 0.9840581817em 7px rgba(0, 173, 255, 0.9), 1.7379362479em -0.143814739em 7px rgba(0, 255, 76, 0.9), 0.0713860869em -0.0717204348em 7px rgba(42, 255, 0, 0.9), 0.7727679103em -0.3542440477em 7px rgba(233, 0, 255, 0.9), 1.5165024201em 0.8671995529em 7px rgba(0, 255, 16, 0.9), 1.1968425761em 0.8583127491em 7px rgba(255, 214, 0, 0.9), 0.7175033872em 1.6299085421em 7px rgba(15, 255, 0, 0.9), -0.4556441685em 0.5372663872em 7px rgba(230, 0, 255, 0.9), 2.0920321932em 0.8234171228em 7px rgba(0, 4, 255, 0.9), 1.0944135129em 0.2374412255em 7px rgba(197, 255, 0, 0.9), 0.9800202094em 1.8395337651em 7px rgba(246, 255, 0, 0.9), 0.752376141em 1.8928739579em 7px rgba(189, 255, 0, 0.9), 0.1892307149em -0.4034032719em 7px rgba(255, 0, 194, 0.9), 0.323022092em -0.3398887235em 7px rgba(0, 255, 229, 0.9), 0.3902774722em 1.4839461795em 7px rgba(0, 255, 63, 0.9), -0.3339895115em 1.3298712269em 7px rgba(0, 83, 255, 0.9), 0.1655319524em 1.9611747728em 7px rgba(0, 119, 255, 0.9), 0.4428136639em 1.1779575188em 7px rgba(255, 0, 218, 0.9), 2.4203028719em 1.9875119115em 7px rgba(100, 255, 0, 0.9), 0.3678465563em 1.589009072em 7px rgba(0, 158, 255, 0.9), 0.4124057661em 2.073874244em 7px rgba(20, 255, 0, 0.9), 0.2344205553em 0.8693020685em 7px rgba(0, 11, 255, 0.9), 0.6465598614em -0.2418309908em 7px rgba(255, 0, 78, 0.9);
  -webkit-animation-duration: 43s;
          animation-duration: 43s;
  -webkit-animation-delay: -32s;
          animation-delay: -32s;
}

head::before {
  text-shadow: 0.282456261em 2.1864444164em 7px rgba(4, 255, 0, 0.9), 2.0132936499em -0.069760567em 7px rgba(240, 255, 0, 0.9), 0.128200615em 1.6072902691em 7px rgba(0, 255, 3, 0.9), -0.3708116081em 0.6056784399em 7px rgba(124, 0, 255, 0.9), 2.4629855575em -0.1911495859em 7px rgba(255, 0, 51, 0.9), -0.0905826773em 0.2168782618em 7px rgba(0, 255, 29, 0.9), 1.3562978415em 0.1730688771em 7px rgba(0, 255, 218, 0.9), -0.3215650399em -0.2158155088em 7px rgba(0, 255, 24, 0.9), 1.1176945425em 0.7061964425em 7px rgba(197, 255, 0, 0.9), 1.7903070103em -0.424411079em 7px rgba(179, 0, 255, 0.9), 0.5445553992em 0.2741551973em 7px rgba(0, 255, 239, 0.9), 1.2330037383em 1.0490513144em 7px rgba(217, 255, 0, 0.9), 0.8459710292em 1.9595393793em 7px rgba(0, 255, 75, 0.9), 1.1338129873em 1.2185222397em 7px rgba(208, 0, 255, 0.9), 2.4460066473em 1.4754192659em 7px rgba(0, 126, 255, 0.9), 2.2410222882em 0.8372024499em 7px rgba(74, 0, 255, 0.9), 0.5016627231em 1.0359490499em 7px rgba(66, 0, 255, 0.9), 0.4922433083em -0.0240996639em 7px rgba(224, 0, 255, 0.9), -0.293267878em 1.7714061743em 7px rgba(0, 251, 255, 0.9), 1.9703533328em 2.1981251374em 7px rgba(0, 91, 255, 0.9), 0.9565753951em 1.0305705298em 7px rgba(0, 255, 181, 0.9), -0.0983625082em 0.4003121068em 7px rgba(163, 255, 0, 0.9), 2.1387399173em -0.1693294844em 7px rgba(0, 193, 255, 0.9), 1.8144339293em 0.4586977197em 7px rgba(0, 50, 255, 0.9), 0.6132600341em 1.9619571625em 7px rgba(0, 255, 10, 0.9), -0.0190607289em 1.8794901515em 7px rgba(0, 255, 14, 0.9), 2.0969012696em -0.49363403em 7px rgba(174, 255, 0, 0.9), 2.0321107665em -0.4781958284em 7px rgba(18, 255, 0, 0.9), 1.1410297894em 0.4411151009em 7px rgba(0, 229, 255, 0.9), 1.8865044559em 1.3004441871em 7px rgba(0, 20, 255, 0.9), -0.3322574411em 1.0022531134em 7px rgba(255, 0, 43, 0.9), 0.5573704728em 1.9511940906em 7px rgba(0, 255, 196, 0.9), -0.2834939807em 1.4673680416em 7px rgba(228, 255, 0, 0.9), -0.1338389182em 0.637541765em 7px rgba(0, 255, 160, 0.9), 0.5467285929em 1.8061500532em 7px rgba(255, 0, 109, 0.9), 1.2924783325em 1.1267719263em 7px rgba(88, 0, 255, 0.9), 0.1608333753em 0.6930747844em 7px rgba(255, 0, 56, 0.9), 0.4649002867em 1.4792904002em 7px rgba(146, 255, 0, 0.9), -0.1455934502em 0.5359025523em 7px rgba(0, 177, 255, 0.9), 0.4913936285em -0.0505608323em 7px rgba(222, 0, 255, 0.9), 0.1026747896em 0.4389908345em 7px rgba(255, 138, 0, 0.9);
  -webkit-animation-duration: 42s;
          animation-duration: 42s;
  -webkit-animation-delay: -23s;
          animation-delay: -23s;
}

head::after {
  text-shadow: 0.2557679948em 1.3317182903em 7px rgba(0, 127, 255, 0.9), 1.0705669733em 0.1339762731em 7px rgba(255, 126, 0, 0.9), 2.3725578198em 0.9955885255em 7px rgba(0, 226, 255, 0.9), 0.0388199706em 2.2133710291em 7px rgba(0, 255, 1, 0.9), 1.8577641778em -0.3238437496em 7px rgba(243, 255, 0, 0.9), 1.3347267197em 0.5108540891em 7px rgba(0, 255, 197, 0.9), 1.7163495829em -0.3524696419em 7px rgba(79, 255, 0, 0.9), -0.3271880308em -0.2151489125em 7px rgba(255, 0, 183, 0.9), 1.1714126352em 1.307157979em 7px rgba(255, 0, 224, 0.9), 1.2116555535em 1.7510247946em 7px rgba(197, 0, 255, 0.9), 0.0005860792em 2.3421055354em 7px rgba(255, 185, 0, 0.9), 1.9300005923em 0.116939507em 7px rgba(255, 151, 0, 0.9), 1.4038704256em 0.4758773714em 7px rgba(181, 0, 255, 0.9), 1.9985965397em 0.3852667823em 7px rgba(0, 224, 255, 0.9), 0.419031204em 0.0176248208em 7px rgba(98, 255, 0, 0.9), -0.4266281967em 2.0075952736em 7px rgba(0, 255, 126, 0.9), 1.9360553402em 1.5320372705em 7px rgba(255, 13, 0, 0.9), 1.3064042798em 0.3743985587em 7px rgba(163, 255, 0, 0.9), 2.1027836854em 2.1558715199em 7px rgba(255, 0, 8, 0.9), 2.3639061121em 0.9690256598em 7px rgba(52, 0, 255, 0.9), -0.1412074035em 0.95531934em 7px rgba(255, 0, 155, 0.9), 0.6619990968em 2.3152063336em 7px rgba(255, 0, 123, 0.9), 2.4378946599em -0.3684165102em 7px rgba(0, 255, 114, 0.9), 2.2227981842em 0.5139078516em 7px rgba(255, 253, 0, 0.9), 1.1369582293em 0.6573773963em 7px rgba(51, 0, 255, 0.9), 1.2947648589em 0.3517284579em 7px rgba(230, 255, 0, 0.9), 2.4518513496em 1.5316969647em 7px rgba(255, 0, 81, 0.9), -0.4752298476em 2.3363158739em 7px rgba(0, 255, 16, 0.9), -0.1992979995em 0.0816937089em 7px rgba(255, 5, 0, 0.9), 0.6023033031em 0.6116769314em 7px rgba(0, 255, 130, 0.9), 2.0960417655em 0.5734661554em 7px rgba(255, 0, 171, 0.9), 1.2689201284em -0.2665475368em 7px rgba(191, 0, 255, 0.9), 0.3173848196em 0.8645276955em 7px rgba(0, 248, 255, 0.9), 0.7246646702em 2.0630610703em 7px rgba(88, 0, 255, 0.9), 1.1910140341em 1.8260541921em 7px rgba(0, 255, 237, 0.9), 0.115773879em 2.0685121678em 7px rgba(255, 81, 0, 0.9), 1.8987295991em 2.3876698789em 7px rgba(0, 255, 171, 0.9), 1.1059762443em 0.702425582em 7px rgba(143, 0, 255, 0.9), 0.8371608865em 0.5048200128em 7px rgba(29, 0, 255, 0.9), 2.1346245188em 1.8004296577em 7px rgba(255, 0, 159, 0.9), -0.4373031346em 1.2390547231em 7px rgba(130, 0, 255, 0.9);
  -webkit-animation-duration: 41s;
          animation-duration: 41s;
  -webkit-animation-delay: -19s;
          animation-delay: -19s;
}

@-webkit-keyframes move {
  from {
    transform: rotate(0deg) scale(12) translateX(-20px);
  }
  to {
    transform: rotate(360deg) scale(18) translateX(20px);
  }
}

@keyframes move {
  from {
    transform: rotate(0deg) scale(12) translateX(-20px);
  }
  to {
    transform: rotate(360deg) scale(18) translateX(20px);
  }
}/*# sourceMappingURL=style.css.map */