* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Red Hat Display", sans-serif;
}

html, body {
  margin: 0;
  height: 100%;
  overflow-y: hidden;
}

a:visited, a:link {
  text-decoration: none;
  color: snow;
}

body {
  -ms-overflow-style: none;
  /* for Internet Explorer, Edge */
  scrollbar-width: none;
  /* for Firefox */
  overflow-y: scroll;
}

body::-webkit-scrollbar {
  display: none;
  /* for Chrome, Safari, and Opera */
}

.middle {
  z-index: 1;
  position: relative;
  width: 90%;
  height: 1%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  -moz-column-gap: 30px;
       column-gap: 30px;
  row-gap: 30px;
  margin-top: 11vh;
}

.card {
  width: 500px;
  margin: 0% 0% 0% 0%;
  position: relative;
}

.info {
  padding-bottom: 30px;
  width: 1000px;
  margin: 0% 0% 0% 0%;
  position: relative;
}

.info p {
  text-align: left;
  margin: 10px 30px;
}

.info table {
  text-align: left;
  margin: 20px auto;
  border-collapse: collapse;
  max-width: 85%;
}

th {
  padding: 0 10px;
}

table, th, td {
  border: 1px solid snow;
}

.info h3 {
  font-style: italic;
}

.black {
  background-color: #1C1C1C;
  opacity: 0.8;
  width: 100%;
  height: 100%;
  border: #1C1C1C;
  border-radius: 2px;
  border-style: none;
}

.info {
  background-color: #1c1c1cd7;
  top: 0;
  right: 0;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 10px 10px;
  padding-bottom: 20px;
  width: 100%;
  color: snow;
  font-size: 22px;
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: #1C1C1C;
  position: relative;
  z-index: 2;
  opacity: 0.9;
  margin-bottom: 3%;
  position: fixed;
  top: 0;
  width: 100%;
}

.logo {
  color: snow;
  text-transform: uppercase;
  font-size: 20px;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 40%;
}

.nav-links li {
  list-style: none;
  padding-left: 10px;
}

.nav-links a {
  color: snow;
  text-decoration: none;
  letter-spacing: 1px;
  font-size: 16px;
  vertical-align: 60%;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 22px;
  height: 3px;
  background-color: snow;
  margin: 5px;
}

@media screen and (max-width: 800px) {
  html, body {
    overflow-y: visible;
  }

  .middle {
    width: 100%;
    flex-basis: 1;
  }

  body {
    overflow-x: hidden;
  }

  .nav-links {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: #1C1C1C;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s ease;
    padding-bottom: 50%;
    padding-top: 5%;
    opacity: 0;
  }

  .nav-links li {
    opacity: 1;
  }

  .burger {
    display: block;
  }
}
.nav-active {
  transform: translateX(0%);
  opacity: 1;
}

html {
  background: #1e1f22;
}

body, head {
  display: block;
  font-size: 52px;
  color: transparent;
}

head::before, head::after,
body::before, body::after {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 3em;
  height: 3em;
  content: ".";
  mix-blend-mode: screen;
  -webkit-animation: 44s -27s move infinite ease-in-out alternate;
          animation: 44s -27s move infinite ease-in-out alternate;
}

body::before {
  text-shadow: 1.7969671549em 2.1234011309em 7px rgba(255, 0, 156, 0.9), 0.6933664231em -0.0891751155em 7px rgba(255, 203, 0, 0.9), 1.9271258609em 1.4935093888em 7px rgba(104, 255, 0, 0.9), 2.0746550071em 0.0414627956em 7px rgba(255, 101, 0, 0.9), 2.3618901227em 1.3828432324em 7px rgba(0, 126, 255, 0.9), 0.9371591726em 1.6081094847em 7px rgba(0, 172, 255, 0.9), 1.665273497em -0.2185235585em 7px rgba(0, 248, 255, 0.9), 1.0338048132em -0.0730037134em 7px rgba(0, 255, 157, 0.9), 1.8875502949em 1.810026543em 7px rgba(0, 255, 209, 0.9), 2.0639566438em 0.9480036606em 7px rgba(114, 255, 0, 0.9), -0.1648758129em -0.3064570525em 7px rgba(255, 0, 89, 0.9), 0.5549352406em 1.7864066626em 7px rgba(0, 139, 255, 0.9), 0.38677589em 0.7992429892em 7px rgba(165, 255, 0, 0.9), 2.2128758506em -0.1729354487em 7px rgba(255, 129, 0, 0.9), 0.9042478114em 0.6572573195em 7px rgba(211, 255, 0, 0.9), 2.3517455911em 0.9083481057em 7px rgba(255, 0, 152, 0.9), 1.2307393733em 1.5791060091em 7px rgba(0, 97, 255, 0.9), 1.7566826057em 2.2437416401em 7px rgba(0, 255, 193, 0.9), 1.8942221383em 1.9192246677em 7px rgba(177, 255, 0, 0.9), 1.00360184em 0.9513289204em 7px rgba(0, 255, 125, 0.9), 1.6391302298em 2.2005185709em 7px rgba(255, 104, 0, 0.9), -0.2074550616em 0.0785114369em 7px rgba(0, 59, 255, 0.9), 0.6050893587em 2.3777202522em 7px rgba(255, 58, 0, 0.9), 0.7444725941em 1.5637076473em 7px rgba(0, 255, 217, 0.9), 1.1277519215em 1.0507425543em 7px rgba(0, 255, 15, 0.9), 1.6988632943em 1.3976211438em 7px rgba(0, 255, 101, 0.9), -0.2763124115em -0.0338798794em 7px rgba(16, 255, 0, 0.9), 2.4040579238em 0.9995082093em 7px rgba(255, 0, 58, 0.9), 1.0504441456em -0.4647488207em 7px rgba(0, 143, 255, 0.9), 1.2291986973em 0.141274053em 7px rgba(0, 221, 255, 0.9), 1.938388486em 1.4646980568em 7px rgba(10, 0, 255, 0.9), -0.2079777316em 1.7772363893em 7px rgba(0, 255, 189, 0.9), 0.4859524567em 1.3160370829em 7px rgba(205, 255, 0, 0.9), 2.1737841263em 2.3050410344em 7px rgba(245, 255, 0, 0.9), 0.6587570783em 1.6372796198em 7px rgba(75, 0, 255, 0.9), 0.7978427781em 2.1798129936em 7px rgba(0, 122, 255, 0.9), 2.410281375em 0.4214654425em 7px rgba(0, 255, 131, 0.9), 2.3655726259em 1.977708566em 7px rgba(129, 255, 0, 0.9), 0.6351893712em -0.2051668377em 7px rgba(38, 0, 255, 0.9), -0.0463231002em 2.1229322968em 7px rgba(212, 0, 255, 0.9), 1.9188235545em 1.8585367627em 7px rgba(255, 255, 0, 0.9);
  -webkit-animation-duration: 44s;
          animation-duration: 44s;
  -webkit-animation-delay: -27s;
          animation-delay: -27s;
}

body::after {
  text-shadow: 1.0839535808em 1.2129102124em 7px rgba(117, 255, 0, 0.9), -0.0193202566em 1.1200645757em 7px rgba(202, 255, 0, 0.9), -0.4445080501em 0.6901992522em 7px rgba(255, 133, 0, 0.9), -0.0301126152em 0.8638325774em 7px rgba(0, 255, 156, 0.9), 0.2979086773em 0.2974734671em 7px rgba(15, 0, 255, 0.9), 0.6610658908em 1.2591397802em 7px rgba(62, 0, 255, 0.9), 0.2958283586em 1.8171586515em 7px rgba(255, 125, 0, 0.9), 1.6789487871em -0.0896701021em 7px rgba(108, 0, 255, 0.9), 0.4007036063em 1.5544291872em 7px rgba(255, 0, 35, 0.9), 1.3158021488em 2.2734665448em 7px rgba(255, 0, 238, 0.9), -0.2892480568em 2.0270871113em 7px rgba(165, 0, 255, 0.9), 1.1951720136em 1.5251006999em 7px rgba(255, 125, 0, 0.9), 0.7624946212em 0.1738757884em 7px rgba(107, 0, 255, 0.9), 1.4766851105em 2.2792838728em 7px rgba(181, 255, 0, 0.9), 0.1244818921em 1.3033509026em 7px rgba(144, 255, 0, 0.9), 1.0955907729em -0.3597513159em 7px rgba(255, 0, 86, 0.9), 2.0333246474em 0.1791653864em 7px rgba(0, 9, 255, 0.9), 1.9059841748em -0.0754992063em 7px rgba(225, 255, 0, 0.9), 0.9787813877em 1.5128279845em 7px rgba(232, 0, 255, 0.9), -0.0200593514em 2.2123542264em 7px rgba(255, 0, 229, 0.9), 0.7925451926em 1.08544881em 7px rgba(0, 255, 170, 0.9), 0.8422004643em 0.4413135025em 7px rgba(53, 255, 0, 0.9), 1.3797002086em 0.7271272606em 7px rgba(0, 255, 248, 0.9), 0.1030386012em 0.7952859894em 7px rgba(255, 0, 116, 0.9), 2.4722847339em 0.498908734em 7px rgba(83, 255, 0, 0.9), 0.2108208585em 0.588466223em 7px rgba(255, 0, 88, 0.9), 0.0862735359em 0.1798022891em 7px rgba(144, 255, 0, 0.9), 1.4324899816em 1.0488412798em 7px rgba(194, 0, 255, 0.9), 1.0115169805em -0.3379959079em 7px rgba(151, 255, 0, 0.9), 0.6712918238em 0.6970009419em 7px rgba(0, 255, 224, 0.9), 1.3163463558em 1.7533163285em 7px rgba(0, 5, 255, 0.9), 2.457079143em 1.8270425467em 7px rgba(255, 222, 0, 0.9), 0.8771438821em 2.1048024505em 7px rgba(255, 168, 0, 0.9), 0.4312946384em 1.3861923044em 7px rgba(202, 0, 255, 0.9), 1.6466891258em -0.0641194454em 7px rgba(162, 255, 0, 0.9), 1.0630138881em -0.4896321002em 7px rgba(20, 0, 255, 0.9), 0.379011714em -0.2751300477em 7px rgba(255, 166, 0, 0.9), 1.208476519em 1.3046295921em 7px rgba(255, 211, 0, 0.9), 2.3181331012em 1.6938464905em 7px rgba(209, 0, 255, 0.9), 1.9911318897em 1.601040363em 7px rgba(8, 255, 0, 0.9), 2.1208423065em 2.1772023702em 7px rgba(0, 111, 255, 0.9);
  -webkit-animation-duration: 43s;
          animation-duration: 43s;
  -webkit-animation-delay: -32s;
          animation-delay: -32s;
}

head::before {
  text-shadow: 1.4429447011em 1.71589274em 7px rgba(255, 68, 0, 0.9), 1.4114387333em 1.1783526495em 7px rgba(255, 0, 77, 0.9), 2.2115579629em 0.2255551204em 7px rgba(255, 0, 198, 0.9), 0.1600697721em 2.2314862231em 7px rgba(0, 105, 255, 0.9), 0.3166955267em 2.1014966984em 7px rgba(30, 0, 255, 0.9), 0.6860510439em 1.2438762313em 7px rgba(255, 25, 0, 0.9), 1.0378366985em -0.2280341756em 7px rgba(0, 255, 246, 0.9), 1.6037938067em 1.6260037912em 7px rgba(255, 111, 0, 0.9), 2.1817713722em 0.4173386283em 7px rgba(255, 172, 0, 0.9), 1.4409994958em 1.7241574593em 7px rgba(0, 255, 176, 0.9), 1.1754448137em 1.895839997em 7px rgba(206, 255, 0, 0.9), 0.594852915em 0.3991343283em 7px rgba(255, 39, 0, 0.9), 1.1412471918em 1.591340979em 7px rgba(113, 0, 255, 0.9), -0.4539435931em 1.7007525044em 7px rgba(59, 0, 255, 0.9), 1.2050357891em 2.2116452787em 7px rgba(177, 0, 255, 0.9), -0.1207599423em 0.7365078352em 7px rgba(255, 0, 10, 0.9), 0.8900848199em -0.1723761887em 7px rgba(10, 0, 255, 0.9), 0.0464913601em 0.2119347128em 7px rgba(255, 0, 16, 0.9), 0.786854031em -0.4033369077em 7px rgba(255, 115, 0, 0.9), 2.2625593926em 1.5598808554em 7px rgba(0, 255, 141, 0.9), 0.4462170279em 0.9209664833em 7px rgba(255, 138, 0, 0.9), 1.5658509257em -0.4844082657em 7px rgba(0, 255, 62, 0.9), 0.7568714176em 1.8486505699em 7px rgba(255, 62, 0, 0.9), 0.6736522851em 1.1471720527em 7px rgba(255, 73, 0, 0.9), 1.8370431471em -0.2053390192em 7px rgba(54, 255, 0, 0.9), 2.2485592662em 2.0307984742em 7px rgba(255, 191, 0, 0.9), 1.0335041138em -0.1378400869em 7px rgba(0, 144, 255, 0.9), 1.9249891972em 0.7829975576em 7px rgba(0, 255, 249, 0.9), 0.3231679186em 0.1842268752em 7px rgba(112, 0, 255, 0.9), 2.0824738826em 0.5934662469em 7px rgba(255, 128, 0, 0.9), 0.3502681264em 0.4930546414em 7px rgba(0, 255, 221, 0.9), 1.0788643327em 0.5605406704em 7px rgba(175, 255, 0, 0.9), 0.7051347559em 0.1279238769em 7px rgba(0, 255, 126, 0.9), 2.3867427824em 1.4833595302em 7px rgba(34, 0, 255, 0.9), 1.163518398em 0.4928273239em 7px rgba(29, 255, 0, 0.9), 2.4425220487em 0.6098694659em 7px rgba(0, 255, 167, 0.9), -0.1579975372em -0.3404774489em 7px rgba(0, 37, 255, 0.9), 1.5395864358em -0.2838410995em 7px rgba(255, 0, 226, 0.9), 0.5785071538em -0.3983269131em 7px rgba(0, 184, 255, 0.9), 0.4674945425em 0.6364175289em 7px rgba(20, 0, 255, 0.9), 2.1778420803em 1.8449013865em 7px rgba(255, 245, 0, 0.9);
  -webkit-animation-duration: 42s;
          animation-duration: 42s;
  -webkit-animation-delay: -23s;
          animation-delay: -23s;
}

head::after {
  text-shadow: -0.2467724013em 2.3521349674em 7px rgba(214, 0, 255, 0.9), 1.0859757881em 0.8634709978em 7px rgba(255, 0, 192, 0.9), 1.5775043147em 0.4195782406em 7px rgba(75, 0, 255, 0.9), 0.8311343912em 2.3451225297em 7px rgba(255, 206, 0, 0.9), -0.053827418em 0.6765486152em 7px rgba(0, 255, 139, 0.9), 0.8383126783em 1.6548769456em 7px rgba(0, 255, 208, 0.9), 1.8259337081em 2.2563868761em 7px rgba(255, 158, 0, 0.9), 0.6653334761em 1.8044158481em 7px rgba(94, 0, 255, 0.9), 0.5753634494em 2.4250905852em 7px rgba(221, 255, 0, 0.9), -0.4097040392em 1.4024145311em 7px rgba(112, 255, 0, 0.9), 1.341242966em 1.6422579568em 7px rgba(255, 149, 0, 0.9), 0.0624869492em -0.2602211935em 7px rgba(254, 255, 0, 0.9), 1.4698806722em 1.8942005327em 7px rgba(255, 0, 47, 0.9), -0.2053492629em -0.3356367587em 7px rgba(0, 244, 255, 0.9), 1.4612784955em 1.9297941615em 7px rgba(255, 0, 189, 0.9), 1.2231314425em 0.4899722885em 7px rgba(1, 255, 0, 0.9), 1.798466362em 0.4411952814em 7px rgba(0, 255, 13, 0.9), 2.2029757074em -0.2559952801em 7px rgba(255, 0, 186, 0.9), -0.0858551832em 0.7579766487em 7px rgba(136, 255, 0, 0.9), 1.6796227416em -0.3794506008em 7px rgba(255, 0, 199, 0.9), 0.8458479582em 1.0396981903em 7px rgba(255, 0, 83, 0.9), 1.5041257808em -0.267507806em 7px rgba(255, 143, 0, 0.9), -0.4382022601em 0.3639525256em 7px rgba(141, 0, 255, 0.9), 0.0349067389em 2.2216779103em 7px rgba(51, 0, 255, 0.9), 1.6599953967em -0.3784733993em 7px rgba(30, 255, 0, 0.9), -0.4726066548em -0.0491312308em 7px rgba(122, 0, 255, 0.9), 0.6006257896em 0.7419720446em 7px rgba(0, 255, 104, 0.9), 0.8444499344em 0.6753409286em 7px rgba(0, 214, 255, 0.9), 2.4045480787em -0.2933167061em 7px rgba(0, 127, 255, 0.9), 0.2789312992em 0.0228691039em 7px rgba(243, 255, 0, 0.9), 1.597292077em 1.6274123804em 7px rgba(113, 255, 0, 0.9), 1.2764325297em 0.7307647722em 7px rgba(0, 150, 255, 0.9), 1.0215436725em -0.2412147433em 7px rgba(255, 0, 237, 0.9), 0.0586615381em 0.2725619237em 7px rgba(0, 13, 255, 0.9), 1.4314295851em 0.4090139585em 7px rgba(139, 0, 255, 0.9), 1.2209175061em -0.4110821495em 7px rgba(190, 255, 0, 0.9), 1.8586301737em 1.5956375497em 7px rgba(34, 255, 0, 0.9), 0.7285073702em -0.4734510855em 7px rgba(46, 255, 0, 0.9), 0.0803304291em 1.838816428em 7px rgba(255, 83, 0, 0.9), 0.7506424054em -0.0301491104em 7px rgba(228, 0, 255, 0.9), 1.3457401024em 0.7718309638em 7px rgba(255, 0, 111, 0.9);
  -webkit-animation-duration: 41s;
          animation-duration: 41s;
  -webkit-animation-delay: -19s;
          animation-delay: -19s;
}

@-webkit-keyframes move {
  from {
    transform: rotate(0deg) scale(12) translateX(-20px);
  }
  to {
    transform: rotate(360deg) scale(18) translateX(20px);
  }
}

@keyframes move {
  from {
    transform: rotate(0deg) scale(12) translateX(-20px);
  }
  to {
    transform: rotate(360deg) scale(18) translateX(20px);
  }
}/*# sourceMappingURL=style.css.map */